body{
    font-family: 'Space Mono', monospace;
    margin:3em;
    background-color: #242038;
}

#title{
    font-size:100px;
    position:static;
    color: #725AC1;
}

#discord{
    font-size:25px;
    color: #725AC1;
    position:fixed;
    top:3em;
    right: 3em;
}

.logo{
    color:#8D86C9;
}


#github{
    position: fixed;
    top: 33%;
    left: 33%
}

#linkedin{
    position: fixed;
    top: 33%;
    right: 33%;
}

#soundcloud{
    position: fixed;
    bottom: 33%;
    left: 31%;

}

#bandcamp{
    position: fixed;
    bottom: 33%;
    right: 33%;
}