html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: #344e41;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.navbar {
    color: #8D86C9;
    position: static;
}

#title {
    font-size: 100px;
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
    color: #D8A7CA
}

#title2 {
    font-size: 100px;
    position: fixed;
    top: 45px;
    left: 49.3%;
    transform: translate(-50%, 0%);
}

#title3 {
    font-size: 100px;
    position: fixed;
    top: 48px;
    left: 49.5%;
    transform: translate(-50%, 0%);
    color: #73A6AD;
}

#contact {
    font-size: 21px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
}

#blog {
    font-size: 75px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

.logo {
    color: #8D86C9;
}

.square {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    bottom: 0%;
}

.box {
    margin: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}